body {
    font-family: Roboto, sans-serif;
    background-color: #5C4033;
  }
  
  header {
    padding: 20px 0;
  }
  
  header .row,
  footer .row {
    display: flex;
    align-items: center;
  }
  
  h1 {
    margin: 0;
    color: wheat;
  }
  
  nav {
    display: flex;
    justify-content: flex-end;
  }
  
  a {
    padding: 0 20px;
    margin: 0;
  }
  
  #link {
    color: wheat;
  }
  
  .main {
    display: flex;
    align-items: center;
    height: 768px;
  }
  
  .main p {
    margin: 0 0 20px;
    font-size: 18px;
    color: wheat;
  }
  
  .main .col-sm-6 {
    padding-top: 50px;
  }

  .col-md-6 {
    margin: 60px 30px;
  }

  span {
    font-weight: bold;
    font-size: 20px;
  }
  
  #contact {
    color: wheat;
    font-size: 18px;
    padding: 40px ;
  }

  .btn.btn-primary {
    border-radius: 2px;
    border: 0px;
    color: #fbd1d5;
    background-color: #ffffff;
  }
  
  .btn.btn-primary:hover {
    color: #ffffff;
    background-color: #fbd1d5;
  }
  
  .btn-secondary {
    background-color: #2a70e0;
    color: #ffffff;
    margin: 0 0 30px;
  }
  
  .portrait {
    width:  350px;
    height: 300px;
  }
  
  figure img {
    width: 100%;
    height: auto;
  }
  
  figure {
    margin-bottom: 30px;
  }
  
  footer {
    font-size: 12px;
    padding: 20px 0;
  }
  
  footer .col-sm-4 {
    color: wheat;
  }
  
  footer .col-sm-8 {
    display: flex;
    justify-content: flex-end;
  }
  
  footer ul {
    list-style: none;
  }
  
  /* Media */
  
  @media screen and (max-width: 1200px) {}
    
  @media screen and (max-width: 1024px) {}
  
  @media screen and (max-width: 768px) {}
  
  @media screen and (max-width: 480px) {}
  
  @media screen and (max-width: 300px) {
    #contact {
      font-size: 15px;
    }
  }      
  
    