/* Main */

body {
  background-image: url("../images/pxfuel-maintable.jpg");
  background-attachment: fixed;
  background-size: cover;
}

.mindset {
    height: 768px;
}

#quote {
    font-family: 'Brush Script MT', cursive;
    font-size: var(--font-2x-large);
    float: right;
    padding-top: 20%;
    padding-right: 10%;
    color: whitesmoke;
}

.about {
    width: 100%;
}

#me {
    float: right;
    height: 200px;
    width: 200px;
    padding: 0 auto;
    border: 3px solid black;
    border-radius: 50%;
    margin: 3% !important;
}

.contact {
    justify-content: center;
    width: 1000px;
    background-color: brown;
    height: 300px;
    padding: 50px;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75);
}

@media screen and (max-width: 1200px) {
    .container {
      width: 80%;
    }
    .contact.container {
      width: 80%;
    }
    .contact .short-contact h2 {
      width: 100%;
    }
  
    .why-us .container {
      width: 60%;
    }
}
  
@media screen and (max-width: 1024px) {
    .nav-container {
      width: 100%;
    }
  
    .container {
      width: 90%;
    }
  
    .nav-container .links {
      display: none;
    }
    
    .nav-container .logo {
        padding-left: 5%;
        justify-content: center;
        width: 100%;
    }

    .nav-container .logo #a1 {
        padding-left: 5%;
    }

    .mindset {
        height: 800px;
    }

    .mobile-button {
      display: flex;
      width: 100%;
      justify-content: flex-end;
      align-items: center;
      padding-right: 5%;
    }
  
    .mobile-button span {
      font-size: var(--font-x-large);
    }
  
    .mobile-links-active {
      width: 100%;
    }

}

@media screen and (max-width: 768px) {
    .content.container,
    .leadership-content.container {
      width: 100%;
    }
  
    .container {
      width: 80%;
    }

    .nav-container .logo a p {
        display: none;
    }
  
    .contact {
      flex-direction: column;
      justify-content: center;
    }
  
    .contact .short-contact {
      width: 100%;
      min-height: 0;
      justify-content: center;
    }
  
    .contact .short-contact h2 {
      width: fit-content;
    }
  
    .contact .container {
      width: 90%;
    }
}

@media screen and (max-width: 480px) {
    html,
    body {
      overflow-x: none;
    }
  
    #back-to-top {
      display: none !important;
    }
  
    .navigation {
      position: sticky;
      top: 0;
      z-index: 999;
      background: rgb(19, 17, 17) !important;
    }

    .nav-container .logo {
        padding-left: 10%;
        justify-content: center;
    }

    .nav-container .logo #a1 {
        padding-left: 10%;
    }

    .nav-container .logo a p {
        display: none;
    }
  
    .mobile-links .closebtn {
      margin-right: 0;
    }
    
    .mobile-links {
        position: fixed;
    }
  
    #quote {
      display: none;
    }
  
    .contact {
      padding: 10px;
    }
  
    .contact p {
      font-size: var(--font-medium-large) !important;
    }
  
    .contact .container {
      width: 100%;
    }
  
}
  